@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

:root {
  --bg-main: hwb(70 79% 19%);
  --bg-left: #635cc0;
  --bg-right: rgb(229, 229, 252);
  --bg-header: rgb(17, 14, 63);
  --bg-footer: rgb(49, 41, 41);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--bg-main);
  margin-top: 100px;
}
/* CSS Header */
header {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 13px;
  justify-content: space-around;
  background-color: var(--bg-header);
  position: fixed;
  top: 0;
}
div h1 span {
  color: red;
}
div h1 {
  padding: 10px;
}
#logo {
  color: white;
}
/* CSS Navigation */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.925);
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav ul li a:hover {
  color: black;
  background-color: #b38575;
}
/* Responsive nav */
.nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.2s;
}
.icon-nav {
  color: white;
  font-size: 35px;
  position: absolute;
  line-height: 50px;
  right: 20px;
  opacity: 0.9;
  display: none;
}
.nav-mobile {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--bg-header);
  width: 200px;
  max-width: 100%;
  transform: translateX(100%);
  opacity: 0;
  transition: all linear 0.2s;
}
#nav-mobile-input {
  display: none;
}
/* CSS Main */
main {
  display: flex;
  width: 1200px;
  margin: 40px auto;
  box-shadow: 0px 0px 5px 5px #999999;
}
/* Two part left and right */
#sider-left {
  width: 30%;
  background-color: var(--bg-left);
}
#sider-right {
  width: 70%;
  background-color: var(--bg-right);
}
/* CSS Left Part  */
/* My image */
#info-avatar img {
  width: 69.5%;
  height: 69.5%;
  border-radius: 50%;
  border: 8px solid #006266;
}
#info-avatar {
  text-align: center;
  padding-top: 20px;
}
#info-avatar .avatar-name {
  padding: 10px 0;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 500;
  color: azure;
  text-transform: uppercase;
}
#info-avatar #career {
  font-size: 12px;
  width: 55.5%;
  margin: 0 auto;
  text-align: center;
  padding: 7px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-top: 10px;
  text-transform: uppercase;
  color: azure;
}
/* CSS Left Infomation  */
#info-infomation {
  margin-top: 13.8%;
}
.infomation-heading {
  width: 83.3%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin: 0 auto;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}
.infomation-block img {
  background-color: white;
  width: 30px;
  border-radius: 50%;
  padding: 6px;
  margin-right: 10px;
  margin-left: 8.33%;
  float: left;
}
.infomation-block .infomation-title {
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 14px;
  font-size: 13px;
}

.infomation-block .infomation-content {
  font-size: 11px;
  font-style: italic;
  color: white;
  font-weight: 1;
  opacity: 0.8;
  padding-left: 45px;
  padding-right: 8.333%;
}
/* CSS Left Social*/
#info-social {
  margin-top: 13.8%;
}

/* CSS Right Part */
#detail-objective {
  margin-top: 11.9%;
  margin-left: 5.59%;
  margin-bottom: 3.57%;
  width: 88.6%;
}
.right-heading img {
  background-color: #3d3f42;
  width: 32px;
  border-radius: 50%;
  padding: 7px;
  float: left;
}
.right-heading h2 {
  line-height: 25px;
  width: calc(100% - 45px);
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-size: 16px;
  margin-left: 45px;
  padding: 2px;
  text-transform: uppercase;
  font-weight: 800;
}
/* CSS Right */
/* CSS Objective */
#detail-objective .objective-content {
  font-size: 13px;
  width: 100%;
  display: block;
}
/* CSS Experience */
#detail-experience {
  margin-left: 5.59%;
  margin-bottom: 30px;
  width: 88.6%;
}
.ex-box1 {
  display: flex;
}
.ex-box2 {
  display: flex;
}
.ex-left {
  width: 20%;
}
.ex-right {
  width: 80%;
}

.ex-left .ex-left-time {
  margin: 10px 10px 10px 0;
}
.ex-right .ex-right-content {
  margin: 10px;
}
.p1 {
  font-size: 13px;
  font-weight: 600;
}
.p2 {
  font-size: 12px;
  font-style: italic;
  opacity: 1;
  text-align: center;
  padding-top: 5px;
}
.p3 {
  font-size: 13px;
  opacity: 1;
  padding-top: 5px;
}
.p3 span {
  font-size: 13px;
  opacity: 1;
  padding-top: 5px;
  font-style: italic;
}
/* CSS Education */
#detail-education {
  margin-left: 5.59%;
  margin-bottom: 30px;
  width: 88.6%;
}

.table {
  margin-top: 15px;
  font-size: 13px;
  border-collapse: collapse;
  border-bottom: 1px solid black;
  width: 100%;
}

.table .table-title {
  background-color: #635cc0;
  color: white;
}
.table .table-title th {
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}
.table .years {
  width: 20%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.table .another {
  width: 40%;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* CSS Skills */
#detail-skills {
  margin-top: 8.1%;
  margin-left: 5.59%;
  margin-bottom: 30px;
  width: 88.6%;
  font-size: 13px;
  font-weight: 500;
}
.detail-skills-box {
  display: flex;
}
.detail-skills-left {
  flex: 1 1 50%;
  margin-top: 10px;
}
.detail-skills-right {
  flex: 1 1 50%;
  margin-top: 10px;
  margin-left: 100px;
}
.below {
  margin-top: 10px;
}

progress {
  background: #333;
  border-radius: 13px;
  height: 8px;
  width: 100%;
}
progress::-webkit-progress-bar {
  border-radius: 13px;
}
progress::-webkit-progress-value {
  background-color: blue;
  border-radius: 13px;
}
/* CSS Hoppy */
#detail-hoppy {
  margin-left: 5.59%;
  margin-bottom: 30px;
  width: 88.6%;
}
.detail-hoppy-box {
  display: flex;
  justify-content: space-between;
}
.detail-hoppy-box img {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* CSS Contact */
#detail-contact {
  margin-left: 5.59%;
  margin-bottom: 30px;
  width: 88.6%;
}

.detail-contact-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.column-left {
  flex: 1 1 50%;
}
.column-right {
  flex: 1 1 50%;
  margin-left: 15%;
}
.column-element {
  padding-bottom: 20px;
}
label {
  font-size: 14px;
  font-weight: 500;
}
#detail-contact span {
  font-size: 14px;
  font-weight: 500;
}
.input-box input {
  width: 100%;
  height: 25px;
  text-indent: 30px;
  opacity: 1;
}
textarea {
  width: 100%;
}
#send {
  width: 100%;
  height: 40px;
  background-color: rgb(52, 150, 84);
  color: white;
  font-size: 17px;
}
.input-box {
  position: relative;
}
.input-box i {
  position: absolute;
  left: 3px;
  font-size: 24px;
}
.send-message i {
  bottom: 10px;
  font-size: 22px;
  color: white;
}
/* CSS Footer */
footer {
  margin-top: 100px;
  width: 100%;
  background-color: var(--bg-footer);
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 3px;
  font-weight: 300;
  opacity: 0.8;
}
/* Old desktop responsive*/
@media screen and (min-width: 1024px) and (max-width: 1239px) {
  main {
    width: 984px;
  }
  /* Responsive icon send */
  .contact-send i {
    left: 220px;
  }
}
/* Tablet < 1024px and >= 767px */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  body {
    margin-top: 70px;
  }
  header {
    font-size: 11px;
  }
  main {
    width: 644px;
  }
  /* CSS header and nav  */
  header {
    padding-left: 100px;
    justify-content: left;
  }
  nav {
    display: none;
  }
  .nav-mobile {
    width: 300px;
  }
  .icon-nav {
    display: block;
  }
  #nav-mobile-input:checked ~ .nav-mobile {
    transform: translateX(0);
    opacity: 1;
  }

  #nav-mobile-input:checked ~ .nav-overlay {
    display: block;
  }
  .nav-mobile-close {
    font-size: 40px;
    padding: 5px;
    color: #ebe6e6;
  }
  .nav-mobile nav {
    display: flex;
  }
  .nav-mobile nav li {
    width: 100%;
  }
  .nav-mobile nav a {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid #f6fafa;
  }
  /* CSS avatar  */
  #info-avatar {
    padding-top: 10px;
  }
  #info-avatar img {
    border: 4px solid #006266;
  }
  #info-avatar .avatar-name {
    padding: 1px 0;
    font-size: 15px;
    letter-spacing: 2px;
  }
  /* CSS left part  */
  .infomation-heading {
    font-size: 12px;
  }
  .infomation-block img {
    width: 25px;
    padding: 3px;
    margin-right: 7px;
    margin-left: 13px;
  }
  /* CSS right part  */
  .table .years {
    padding-right: 8.1%;
  }
  .table .another {
    padding-right: 23.7%;
  }
  .detail-hoppy-box img {
    width: 55px;
  }
  .contact-send i {
    left: 110px;
  }
  input::placeholder {
    color: transparent;
  }
  .input-box input {
    opacity: 0.3;
  }
  /* CSS footer  */
  footer {
    margin-top: 50px;
    letter-spacing: 2px;
  }
}
/* Smartphone <= 767*/
@media screen and (max-width: 767px) {
  html {
    width: 100%;
  }
  body {
    margin-top: 50px;
  }

  /* Responsive header and nav full screen*/
  nav {
    display: none;
  }

  header {
    padding-left: 20px;
    justify-content: left;
  }
  #nav-mobile-input:checked ~ .nav-mobile {
    transform: translateX(0);
    opacity: 1;
  }

  #nav-mobile-input:checked ~ .nav-overlay {
    display: block;
  }
  .nav-mobile {
    width: 100%;
  }
  .icon-nav {
    display: block;
  }

  .nav-mobile nav {
    display: flex;
    flex-direction: column;
  }
  .nav-mobile nav li {
    width: 100%;
  }
  .nav-mobile nav a {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    border: 1px solid #f6fafa;
  }

  .nav-mobile-close {
    font-size: 40px;
    padding: 5px;
    color: #ebe6e6;
  }
  /* CSS main  */
  main {
    flex-direction: column;
    width: 100%;
  }
  /* CSS change layout column */
  #sider-left {
    width: 100%;
    padding-bottom: 20px;
  }
  #sider-right {
    width: 100%;
  }
  /* CSS right part  */
  .infomation-block .infomation-content {
    opacity: 1;
  }

  #detail-education table {
    font-size: 12px;
  }
  .detail-hoppy-box img {
    width: 50px;
  }
  .contact-send i {
    left: 20%;
  }
  input::placeholder {
    color: transparent;
  }
  .input-box input {
    opacity: 0.3;
  }
  /* CSS footer  */
  footer {
    margin-top: 50px;
    letter-spacing: 0px;
    opacity: 1;
  }
}
/* Animation nav  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
